<launch>
  <arg name="env" default="uol_mht"/> 

  <!-- Scitos robot -->
  <include file="$(find strands_morse)/launch/scitos.launch"/>
  
  <node pkg="strands_morse" type="simulator.sh" respawn="false" name="strands_morse" output="screen" args="uol $(arg env).py"/>
  <node pkg="strands_morse" type="human_pose_simulator.py" respawn="true" name="human_pose_simulator" output="screen"/>
</launch>
