<launch>
  <!-- declare arg to be passed in -->
  <arg name="env" default="uol_study_restaurant"/> 

  <!-- Robot -->
  <include file="$(find scitos_description)/launch/scitos_state_publisher.launch"/>

  <!-- 2D Navigation -->
  <include file="$(find scitos_2d_navigation)/launch/scitos_2d_nav.launch">
      <arg name="map" value="$(find strands_morse)/uol/maps/$(arg env).yaml"/>
  </include>
</launch>
